    body {
        background-color: white;
    }
    
    fieldset {
        border: 1px solid grey;
        width: fit-content;
        margin-top: 110px;
    }
    
    button {
        color: white;
        background-color: rgb(67, 67, 223);
        width: 120px;
        height: 35px;
        border: 1px solid blue;
        border-radius: 7px;
    }
    
    .in input {
        width: 250px;
        height: 37px;
        border-radius: 16px;
        border: 1px solid grey;
        margin: 5px;
    }