/* src/Navbar.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1367b1;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-links li a:hover {
    background-color: white;
    color: black;
    padding: 6px;
    border-radius: 7px;
    transition: 0.2s;
}

.login li {
    border: 3px solid black;
    color: white;
    width: 70px;
    border-radius: 6px;
}

.login li :hover {
    background-color: black;
    color: white;
}

.log a {
    color: white;
    font-size: 25px;
}


/* Mobile view */

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 30%;
        height: 100%;
        text-align: left;
        position: absolute;
        top: 37px;
        left: 0;
        background-color: #f88e37;
        position: fixed;
    }
    .nav-links.active {
        display: flex;
    }
    .nav-links li {
        margin: 10px;
        margin-bottom: 20px
    }
    .nav-links li a:hover {
        background-color: white;
        color: black;
        width: 100%;
        border-radius: 7px;
        transition: 0.2s;
        padding: 10px;
    }
    .hamburger {
        display: flex;
    }
    .login {
        display: none;
    }
}